body {
  background-color: lightgray;
}

.App {
  text-align: center;
  background-color: lightsteelblue;
  min-height: 500px;
  width: 500px;
  padding: 10px;
  margin: 50px auto;
  /* border: 2px dashed black; */
}

#to-do-form input {
  background-color: whitesmoke;
  border: 0px;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 16px;
  border-radius: 5px;
}

#to-do-form input::placeholder {
  color: dimgray;
}

#to-do-form button {
  width: 80px;
  height: 50px;
  /* border: 0px; */
  border-radius: 5px;
  background-color: lightgreen;
  cursor: pointer;
}