.list {
    width: 350px;
    height: 50px;
    background-color: burlywood;
    margin: 20px auto;
    border-radius: 5px;
}

.list p {
    font-size: 14px;
    padding: 15px;
    position: relative;
}

.list p span {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.faicons {
    color: white;
    font-size: 16px;
}

.list p input {
    width: 300px;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
}

.list p input:focus {
    outline: none;
}

